<h1 class="animated fadeIn fast title">Historia de Marvel & <br>DC Comics</h1>
<hr>
<p class="animated fadeIn">
    Ambas editoriales fueron creadas en la misma década, en un momento en el que Estados Unidos necesitaban de las figuras de héroes e historias fantásticas para escapar de la realidad de la gran depresión económica y de una guerra mundial.
    <br><br>
    DC Comics (1934) nació bajo el nombre de National Allied Publications y comenzó su carrera de publicaciones con, nada más y nada menos que, Superman; posiblemente el héroe más famoso y conocido en el mundo.
    <br><br>
    Por otro lado, 5 años después, Marvel (1939) surgió con el nombre de Timely Publications. Bajo el manto de la Segunda Guerra Mundial y dos años después de su fundación aparece el primer personaje aún reconocible de Marvel: Capitán América.
    <br><br>
    Ambas casas pasaron por sus épocas difíciles y sus eras de oro. Llegando a amasar la gran cantidad de personajes famosos que conocemos hoy día. Lo que nos lleva al segundo punto.
</p>
<br>

<h3 class="animated fadeIn fast">Personajes</h3>
<p class="animated fadeIn">
    Calcular la cantidad de personajes para cada una de estas casas es prácticamente imposible. Al intentar hacerlo surgen preguntas como, ¿mismos personajes en diferentes universos paralelos se cuentan dos veces?, ¿contamos únicamente a personajes principales o a cualquier nombre registrado por la editorial?, ¿merecen los gemelos fantásticos ser considerados personajes serios?
    <br><br>
    Se habla de que Marvel tiene una base de datos de más de 7.000 personajes, mientras que DC llegaría a contar más de 20.000. 
</p>

<div>
    <img class="img-fluid" src="assets/img/personajes.webp"  alt="Personajes Comics" title="Personajes de Marvel y DC">
</div>